* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, sans-serif;
}
canvas {
  background: #EEE;
  display: block;
  margin: 0 auto;
}
#menu {
  position: fixed;
  top: 20px;
  right: 20px;
}
#turn {
  font-weight: bold;
  color: blue;
  margin-bottom: 15px;
}
